/* pages/advisoryDetail/advisoryDetail.wxss */
.advisory_detail_wrapper {
    width: 100vw;
    padding: 0 25rpx;
    .detail_patient_info {
        display: flex;
        align-items: center;
        margin: 28rpx 0;
        .patient_avatar {
            width: 100rpx;
            height: 100rpx;
            background: #eee;
            border-radius: 50%;
            margin-right: 15rpx;
        }
        .info_box {
           .patient_name {
            font-size:30rpx;
            color:rgba(51,51,51,1);
            line-height:42rpx;
            margin-bottom: 13rpx;
           } 
           .create_time {
            font-size:24rpx;
            color:rgba(153,153,153,1);
            line-height:33rpx;
           }
        }
    }
    .advisory_detail_content {
        padding-bottom: 20rpx;
        color: #333;
        font-size: 28rpx;
        line-height: 40rpx;

    }
    .advisory_detail_images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .detail_images {
            width: 220rpx;
            height: 220rpx;
            background: #399;
            margin-bottom: 20rpx;
        }
        &::after {
            content: '';
            width: 31%;
        }
    }
    .advisory_detail_return {
        width: 100%;
        background: #F5F6FA;
        border-radius: 2rpx;
        padding-bottom: 80rpx;
        position: relative;
        padding: 20rpx 24rpx ;
        .detail_return_input {
            padding-left: 20rpx;
            width: 600rpx;
        }
        .message_item_box {
            display: flex;
            padding: 25rpx 0;
            border-bottom: 1rpx solid #ddd;
            .person_avatar {
                width: 80rpx;
                height: 80rpx;
                border-radius: 50%;
                background: #ccc;
            }
            .person_info {
                padding-left: 12rpx;
                flex: 1;
                .info_top {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .top_left {
                        .name {
                            color: #333;
                            font-size: 30rpx;
                            line-height: 42rpx;
                            font-weight: 500;
                            margin-right: 20rpx;
                        }
                        .jobtitle {
                            color: #999;
                            font-size: 24rpx;
                            line-height: 33rpx;
                        }
                    }
                    .top_right {
                        color: #999;
                        font-size: 24rpx;
                        line-height: 33rpx;
                    }
                }
                .bottom_content {
                    color: #666;
                    font-size: 24rpx;
                    line-height: 33rpx;
                    margin-top: 7rpx;
                }
            }
        }
    }
}